@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap&family=Kaushan+Script&display=swap");

@import "tailwindcss";

@theme {
  --clr-grey: #f4f5f7;
  --clr-muted: #636872;
  --clr-brand: oklch(57.7% 0.245 27.325);

  --font-Sans: "DM Sans", sans-serif;
  --font-Poppins: Poppins, sans-serif;
  --font-Kaushan: "Kaushan Script", cursive;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-Poppins);
    font-style: normal;
    font-weight: 700;
  }

  body,
  p,
  a,
  button,
  span,
  input,
  select {
    font-family: var(--font-Sans);
    font-style: normal;
  }
}

@layer components {

  /* Paragraphs: Consistent body text. */
  .text-body {
    @apply text-sm leading-relaxed font-normal text-(--clr-muted);
  }

  /* Headings: Use your custom font and sizes. */
  .heading-1 {
    @apply text-4xl font-bold leading-tight text-green-50;
  }

  .heading-2 {
    @apply text-2xl font-semibold leading-snug text-green-50;
  }

  .heading-3 {
    @apply text-xl font-medium leading-normal text-blue-50;
  }
}

@layer utilities {

  /* Container */
  .container {
    @apply w-full mx-auto px-4 sm:px-6 lg:px-8 max-w-6xl;
  }

  .container-fluid {
    @apply w-full px-4 sm:px-6 lg:px-8;
  }

  .font-poppins {
    font-family: var(--font-Poppins) !important;
  }

  .font-sans {
    font-family: var(--font-Sans) !important;
  }

  .font-kaushan {
    font-family: var(--font-Kaushan) !important;
  }

  /* .text-brand {
    @apply text-red-600;
  } */
}

/* Correct syntax - no spaces, top-level */
@utility text-brand {
  @apply text-(--clr-brand);
}

@utility bg-brand {
  @apply bg-(--clr-brand);
}

@utility border-brand {
  @apply border-(--clr-brand);
}

.custom-bullet {
  @apply bg-gray-400 w-4 h-1.5 rounded-full transition-all duration-300 cursor-pointer;
  /* h-2 for a bar style, or h-8 for circle – adjust as you like */
}

.custom-bullet-active {
  @apply bg-brand w-7 h-1.5;
  /* longer bar when active, or w-9 h-9 for bigger circle */
}

.prod_thumb_center .swiper-wrapper {
  justify-content: center;
}